<div class="container">
	<div class="row">

		<div class="col-xs-3">

			<h2>UserInfo</h2>
			<%= attachment_image_tag @book.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
			<table>
				<tbody>
					<tr></tr>
					<tr>
						<th>name</th>
						<th><%= @book.user.name %></h3></th>
					</tr>
					<tr>
						<th width="112" height="37">introduction</th>
						<th width="100" height="37"><%= @book.user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<%= link_to '',edit_user_path(@book.user), class: 'glyphicon glyphicon-wrench btn btn-default btn-block' %>

			<h2>New book</h2>
			<%= form_for(@book_new) do |f| %>
			<% if @book_new.errors.any? %>
			<div id="error_explanation">
				<h2><%= @book_new.errors.count %>error prohibited this obj from being saved:</h2>
				<ul>
					<% @book_new.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<h5>Title</h5>
			<%= f.text_field :title %>
			<h5>Opinion</h5>
			<%= f.text_area :body %>
			<br>
			<%= f.submit 'Create Book', class: 'btn btn-primary btn-block' %>
			<% end %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			
			<table>
				<tbody>
					<tr>
						<td width="204" height="135">
							<%= link_to user_path(@book.user.id) do %>
							<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
							<br />
							<%= @book.user.name %>
							<% end %>
							</td>
						<td width="120" height="135"><%= link_to @book.title ,book_path(@book)%></td>
						<td width="120" height="135"><%= @book.body %></td>
						<% if @book.user == current_user %>
						<td width="106" height="135"><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success btn-block' %></td>
						<td width="147" height="135"><%= link_to "Destroy", book_path(@book.id), class: 'btn btn-danger btn-block', method: :delete, "data-confirm" => "本当に消しますか?" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>